// colours
$black: #000;
$white: #fff;

$brand_1: #96d429;
$brand_2: #fff;

$grey_1: #f3f3f3;
$grey_2: #eeeeee;
$grey_3: rgba(0,0,0,.5);
$grey_4: #494949;
$grey_5: #f4f4f4;

$gold: #FFD210;

// typography

$font_primary: Helvetica,Arial,sans-serif;
$font_secondary: '';

$font_body: $font_primary;
$font_body_size: 14px;
$font_body_color:$grey_4;

//