// Some Bootstrap tweaks - not using the SCSS/LESS version for this concept


@media (max-width: 1200px) {
    .container-fluid {
        padding: 0;
    }
}
@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1200px;
        padding: 0;
    }
}

// Other

body {
    background-color: $grey-2;
}